<launch>
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find kinova_description)/urdf/j2n6s300_standalone.xacro'" />
  <param name="robot_description/jaco_1" command="$(arg urdf_file)" />
  <param name="robot_description/jaco_2" command="$(arg urdf_file)" />
  <node name="jaco_sim" pkg="kumonoito" type="jaco_sim" output="screen" />
  <param name="use_sim_time" value="true"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_pub_1">
    <remap from="robot_description" to="robot_description/jaco_1"/>
    <param name="tf_prefix" value="/jaco_1"/>
  </node>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_pub_2">
    <remap from="robot_description" to="robot_description/jaco_2"/>
    <param name="tf_prefix" value="/jaco_2"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="base_broadcaster_1" args="1 0 0 0 0 0 1 map jaco_1/world 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_broadcaster_2" args="1 1 0 0 0 0 1 map jaco_2/world 100" />
</launch>
